<%- include("header") -%>

<div class="box">
        
        <% for(var i=0; i<NewListItems.length; i++){ %>
                <div class="item">
                        <input type="checkbox">
                        <p>  <%=NewListItems[i]%> </p>
                </div>
        <% } %>
                
                <form class="item" action="/" method="post">
                        <input id="enterarea" type="text" placeholder="Add Task" name="newTask" autocomplete="off">
                        <button id="xyz" type="submit" name="list" value=<%=listTitle%>>+</button>
                </form>
        </div>
        <!-- Look up Tags section at ejs.co  -->

<%- include("footer") -%>